<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="fakeKey1" value="fakeValue1" />
        <add key="fakeKey2" value="fakeValue2" />
        <add key="fakeKey3" value="fakeValue3" />

        <add key="fakePrefix1:fakeKey4" value="fakeValue4" />
        <add key="fakePrefix1:fakeKey5" value="fakeValue5" />

        <add key="fakePrefix2:fakeKey6" value="fakeValue6" />
        <add key="fakePrefix2:fakeKey7" value="fakeValue7" />

        <add key="fakePrefix3-fakeKey8" value="fakeValue8" />
        <add key="fakePrefix3-fakeKey9" value="fakeValue9" />

        <add key="fakeKey10" value="true" />
        <add key="fakeKey11" value="34" />
        <add key="fakeKey12" value="54.425" />
        <add key="fakeKey13" value="00:01:24" />
        <add key="fakeKey14" value="2015-04-03" />
    </appSettings>
    <connectionStrings>
        <add name="fakeName" connectionString="fakeConnectionString"/>
    </connectionStrings>
</configuration>